{% extends "pages/basef.html" %}

{% block content %}

    <a class="btn btn-secondary btn-block mt-4" href = "">INSTAGRAM</a>
    <a class="btn btn-secondary btn-block mt-4" href = "">TELEGRAM</a>
    <a class="btn btn-secondary btn-block mt-4" href = "">FACEBOOK</a>
    <a class="btn btn-secondary btn-block mt-4" href = "">SIGNAL</a>
    <a class="btn btn-secondary btn-block mt-4" href = "">DISCORD</a>
    <a class="btn btn-secondary btn-block mt-4" href = "">SMS</a>

    <a class="btn btn-secondary btn-block mt-4" href = "{{url_for('intents')}}">WHATSAPP</a>

    <h1>#land page action: select sms or whatsapp bot:</h1>

{% endblock %}
  
{% block footer%}

{% endblock %}
