{% extends "pages/basef.html" %}

{% block content %}

<a class="btn btn-secondary btn-block mt-4" href = "{{url_for('load')}}">Back to Load Contacts Page</a>
    
<a class="btn btn-secondary btn-block mt-4" href = "{{url_for('wapage')}}">Navigate to Whatsapp Bot Conversations</a>

<h1>#these are the list of verified contacts with whatsapp: verify with a program</h1>
<h1>#send bot in bulk to initiate conversation</h1>

<a class="btn btn-secondary btn-block mt-4" href = "">SEND BOTS TO VERIFIED CONTACTS</a>

{% endblock %}

{% block footer%}

{% endblock %}